.input {
    width: 420px;
    display: grid;
    color: #161616;
    margin: 24px 0;
    position: relative;
}

.input label {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.input input {
    border: 2px solid #DADADA;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.input input:focus {
    outline: none;
}

.error {
    position: absolute;
    bottom: -17px;
    color: red;
    font-size: 12px;
}

@media (max-width: 950px) {
    .input {
        width: 100%;
    }

    .input label {
        font-size: 16px;
        font-weight: 500;
    }

    .input input {
        font-size: 14px;
        font-weight: 500;
    }
}