.input {
    width: 420px;
    display: grid;
    color: #161616;
    margin: 24px 0;
}

.input label {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.input input {
    border: 2px solid #DADADA;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;

}