.active-content, .archive-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
    justify-items: center;
}


@media (max-width: 550px) {

    .active-content, .archive-content {
        grid-template-columns: 1fr 1fr;
        gap: 7px;
    }
}