.dropdown {
    width: 200px;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 12px;
    background-color: #FDFDFD;
    box-shadow: 0px 0px 2px 0px #5A5A5A;
    position: absolute;
    right: 0;
    top: 30px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dropdown-btn {
    height: 40px;
    text-align: left;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: none;
    color: #161616;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: #F4F4F4;
}

@media (min-width: 1025px) {
    .dropdown-btn:hover {
        color: #22A0BC;
    }
}

@media (max-width: 550px) {
    .dropdown {
        width: 160px;
        top: 0px;

    }

    .dropdown-btn {
        font-size: 14px;
        font-weight: 500;
    }
}